<!DOCTYPE html>
<html lang="@L["lang"]" dir="@L["dir"]">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @L["Website Name"]</title>
    <link href="~/lib/bootstrap/css/@L["bootstrap"]" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/@L["bootstrap-grid"]" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/@L["bootstrap-reboot"]" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/@L["bootstrap-utilities"]" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <partial name="_HeaderPartial" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            @L["Footer Text"] - @DateTime.UtcNow.AddHours(3).Year &copy;
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
